.books {

    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    // border-collapse: collapse;
    // border-radius: 12px;
    // border: 1px solid black;
    width: 100%;
    -webkit-box-shadow: 10px 9px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 19px 0px rgba(0,0,0,0.75);
    background-color: black;
    border-radius: 6px;
}

.books td {
    // border-radius: 12px;
    // border: 1px solid black;
    border-top-color: 1px solid black;
    // background-color: white;
    cursor: pointer;

    padding: 12px;
}

.books tr:nth-child(even){
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 10px;

}

.books tr:nth-child(odd){
    background-color: white;
}

.books tr:hover {
    background-color: #ddd;
    // border: 1px solid black;
    border-radius: 12px;

}

.books th {
    padding-top: 12px;
    // border-radius: 12px;
    // border: 1px solid black;
    padding-bottom: 12px;
    background-color:white;
    color: black;
    padding: 10px;
}
